{% extends "home_app/base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block content%}
<div class="about_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="about_us">О компании</div>
                <div class="about_us_text">
                    <p>Нас помнят динозавры, ведь именно мы добывали металлическую руду из упавшего на планету
                        астероида, используя мускульную силу и неуёмную энергию этих ящеров. Да, многое изменилось с
                        этих пор, но мы по-прежнему готовы предложить продукцию высокого качества под любые задачи!</p>


                    <p>Иные слова безумного маркетинга.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}