{% extends "layout/base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block content%}
<div class="about_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="about_us">О компании</div>
                <div class="about_us_text">
                    <p>ООО «Гранд-Металл» – ведущая компания на рынке российского цветного и нержавеющего
                        металлопроката. За 15 лет безукоризненной деятельности мы построили четкую, отработанную систему
                        заказов и поставок, изучили рынок и сформировали прочные связи с ведущими российскими и
                        зарубежными заводами-изготовителями. Среди наших партнеров гиганты российской металлургии, такие
                        как Красноярский металлургический завод, Каменск-Уральский металлургический завод, ОАО «РУСАЛ»,
                        Ступинская металлургическая компания, завод "Электросталь", ОАО «Ижсталь», Уральская
                        горно-металлургическая компания, Артемовский завод обработки цветного металла, а также
                        зарубежные производители Impol Seval Inc. и Alcoa Inc..</p>

                    <p>Наличие собственных складских помещений, оборудованных для качественного хранения и быстрой
                        отгрузки, дает возможность создавать буферный запас продукции в количестве пропорциональном
                        спросу. Наш партнерский и базовый ресурс позволяет не только своевременно выполнять взятые на
                        себя обязательства, но и способен выдержать стремительный рост спроса на любой вид поставляемой
                        нами продукции. Любой заказ в любых объёмах с доставкой в любой регион РФ производится в течение
                        1-3 дней. При заключении долгосрочных договоров отрабатывается системность поставок с удобным
                        для потребителя графиком. При получении статуса "постоянный клиент", наша компания предоставит
                        вам гибкую систему скидок и возможность отсрочки платежей.</p>

                    <p>Компания «Гранд-Металл» – надежный и проверенный поставщик металлопроката по ценам
                        заводов-изготовителей. Наша деятельность построена на оказании услуг по централизации и
                        координации системы «производитель-потребитель». Мы являемся партнерским звеном, благодаря
                        которому производители работают эффективней, а потребители получают товар вовремя и в нужном
                        количестве. Любое предприятие, обратившись к нам, занимает нишу в системе оборота
                        специализированной продукции и тем самым влияет на координацию производственного процесса
                        предприятий-поставщиков, что, в свою очередь, дает гарантию стабильности поставок и не вызывает
                        на рынке сырья перебоев и дефицитов.</p>

                    <p>Весь ряд представленной продукции охватывает основные потребности отечественных
                        производителей.
                        Наше предложение основано на глубоком анализе рынка, поэтому способно полностью удовлетворить
                        потребности любого предприятия, работающего с цветным и нержавеющим сортаментом. Здоровая
                        конкуренция между поставщиками становится залогом выпуска высококачественной продукции, которая
                        пользуется спросом среди производителей конечного товара.</p>

                    <p>В наших интересах сохранить безупречную репутацию, наработанную в течение всей деятельности
                        компании, поэтому мы тщательно следим за качеством поставляемого товара и предоставляемых услуг.
                        «Гранд-Металл» работает только с сертифицированной продукцией, произведенной в соответствии с
                        государственными и отраслевыми стандартами и официально утвержденными техническими условиями.
                        Весь импорт также сопровождается сертификатами и соответствует европейским стандартам. Поставки
                        сопровождаются предусмотренной технической документацией с возможностью предоставления
                        дополнительных актов для предприятий с повышенной ответственностью.</p>



                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}