{% extends "layout/base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block content%}
<div class="about_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="about_us">Грузоперевозки</div>
                <div class="about_us_text">
                    <p>Оказаываем услуги по транспортирвоанию различных грузов на любые расстояния в пределах Солнечной
                        системы</p>


                    <p>Земля - Марс - 100р. за грамм</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}